// Color palette
$primary-color-red: hsl(0, 78%, 62%);
$primary-color-cyan: hsl(180, 62%, 55%);
$primary-color-orange: hsl(34, 97%, 64%);
$primary-color-blue: hsl(212, 86%, 64%);
$bg-color: hsl(0, 0%, 98%);

// Font color pallete
$primary-font-clr:  hsl(234, 12%, 34%);

$block-shadow: 2px 5px 20px  hsl(229, 10%, 79%);